body{
    margin: 0 auto;
    padding: 0;
    background: #F2F2F2;
}

.group3{
    width: 121%;
    min-height: 113px;
    background: rgba(55, 63, 104, 1);
    margin-top: 78px;
    float: left;
    border-radius: 10px;
    margin-left: -95px;
}

.fa-chevron-left{
    color: white;
    padding-top: 33px;
    padding-left: 32px;
    float: left;
}

.group3 span{
    color: white;
    margin-left: 15px;
    margin-top: 30px;
    font-size: 14px;
    float: left;
}

.group3 h3{
    color: white;
    margin-left: -65px;
    margin-top: 60px;
    font-size: 24px;
    float: left;
}

.group3 button{
    float: right;
    margin-top: 35px;
    margin-right: 40px;
    background: #AD1FEA;
    border: 0px solid #AD1FEA;
    color: white;
}

.group13{
    width: 100%;
    min-height: 925px;
    margin-top: 48px;
    float: left;
}

.column1{
    width: 100%;
    height: 986px;
    float: left;
}

.column1 h4{
    margin-left: 120px;
    float: left;
}

.p1{
    display: block;
    color: rgba(100, 113, 150, 1);
    font-size: 16px;
    margin-top: 35px;
    margin-left: -90px;
    float: left;
}



.card1{
    width: 350px;
    height: 272px;
    border-radius: 0px 0px 5px 5px;
    border-top: 6px solid rgba(244, 159, 133, 1);
    float: right;
    margin-top: 15px;
    margin-right: 60px;
    background: rgba(255, 255, 255, 1);

}

.card1 ul{
    margin-top: 25px;
    margin-left: 32px;
    color: yellow;
}

.card1 h3{
    float: left;
    font-size: 18px;
    margin-left: 57px;
    font-weight: 700;
}

.card1 p{
    float: left;
    margin-left: 57px;
    font-weight: 400;
}

.but1{
    float: left;
    background: rgba(242, 244, 255, 1);
    border-radius: 10px;
    border: 0px solid rgba(242, 244, 255, 1);
    margin-left: 65px;
    margin-top: 16px;
    color: rgba(70, 97, 230, 1);
    background: rgba(242, 244, 255, 1);

}

.but2{
    float: left;
    margin-top: 65px;
    margin-left: -60px;
    background: rgba(242, 244, 255, 1);
    border-radius: 10px;
    border: 0px solid rgba(242, 244, 255, 1);
    color: rgba(70, 97, 230, 1);
    background: rgba(242, 244, 255, 1);
}

.fa-angle-up{
    margin-right: 5px;
}

.fa-comment{
    float: right;
    color: rgba(205, 210, 238, 1);
    font-size: 18px;
    margin-top: 70px;
    margin-right: 70px;
}

.fa-comment span{
    color: rgba(58, 67, 116, 1);
}

.card2{
    width: 350px;
    height: 272px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 5px 5px;
    border-top: 6px solid rgba(244, 159, 133, 1);
    float: right;
    margin-top: 24px;
    margin-right: 60px;
}

.card2 ul{
    margin-top: 25px;
    margin-left: 32px;
    color: yellow;
}

.card2 h3{
    float: left;
    font-size: 18px;
    margin-left: 57px;
    font-weight: 700;
}

.card2 p{
    float: left;
    margin-left: 57px;
    font-weight: 400;
}

.but1{
    float: left;
    background: rgba(242, 244, 255, 1);
    border-radius: 10px;
    border: 0px solid rgba(242, 244, 255, 1);
    margin-left: 65px;
    margin-top: 16px;
    color: rgba(70, 97, 230, 1);
    background: rgba(242, 244, 255, 1);

}

.but2{
    float: left;
    margin-top: 65px;
    margin-left: -60px;
    background: rgba(242, 244, 255, 1);
    border-radius: 10px;
    border: 0px solid rgba(242, 244, 255, 1);
    color: rgba(70, 97, 230, 1);
    background: rgba(242, 244, 255, 1);
}

.fa-angle-up{
    margin-right: 5px;
}

.fa-comment{
    float: right;
    color: rgba(205, 210, 238, 1);
    font-size: 18px;
    margin-top: 70px;
    margin-right: 70px;
}

.fa-comment span{
    color: rgba(58, 67, 116, 1);
}

.card3{
    width: 350px;
    height: 272px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 5px 5px;
    border-top: 6px solid rgba(244, 159, 133, 1);
    float: right;
    margin-top: 24px;
    margin-right: 60px;
}

.card3 ul{
    margin-top: 25px;
    margin-left: 32px;
    color: yellow;
}

.card3 h3{
    float: left;
    font-size: 18px;
    margin-left: 57px;
    font-weight: 700;
}

.card3 p{
    float: left;
    margin-left: 57px;
    font-weight: 400;
}

.but1{
    float: left;
    background: rgba(242, 244, 255, 1);
    border-radius: 10px;
    border: 0px solid rgba(242, 244, 255, 1);
    margin-left: 65px;
    margin-top: 16px;
    color: rgba(70, 97, 230, 1);
    background: rgba(242, 244, 255, 1);

}

.but2{
    float: left;
    margin-top: 65px;
    margin-left: -60px;
    background: rgba(242, 244, 255, 1);
    border-radius: 10px;
    border: 0px solid rgba(242, 244, 255, 1);
    color: rgba(70, 97, 230, 1);
    background: rgba(242, 244, 255, 1);
}

.fa-angle-up{
    margin-right: 5px;
}

.fa-comment{
    float: right;
    color: rgba(205, 210, 238, 1);
    font-size: 18px;
    margin-top: 70px;
    margin-right: 70px;
}

.fa-comment span{
    color: rgba(58, 67, 116, 1);
}

.column2{
    width: 100%;
    height: 986px;
    float: left;
}

.column2 h4{
    margin-left: 120px;
    float: left;
}

.p1{
    display: block;
    color: rgba(100, 113, 150, 1);
    font-size: 16px;
    margin-top: 35px;
    margin-left: -90px;
    float: left;
}

.column3{
    width: 100%;
    height: 986px;
    float: left;
}

.column3 h4{
    margin-left: 120px;
    float: left;
}

.p1{
    display: block;
    color: rgba(100, 113, 150, 1);
    font-size: 16px;
    margin-top: 35px;
    margin-left: -90px;
    float: left;
}